name: Tests

on:
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure CMake
        run: cmake -S . -B build

      - name: Build
        run: cmake --build build

      - name: Run tests (Unix)
        if: runner.os != 'Windows'
        run: ./build/tests/hello-cli-tests

      - name: Run tests (Windows)
        if: runner.os == 'Windows'
        run: ./build/tests/Debug/hello-cli-tests.exe
